<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">FunkoBase</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="funkos" class="nav-link">Funkos</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="loggedIn; else loggedOut">
        <a routerLink="auth/sign-out" class="nav-link">Sign out</a>
      </li>
      <ng-template #loggedOut>
        <li class="nav-item">
          <a routerLink="auth/sign-in" class="nav-link">Sign in</a>
        </li>
      </ng-template>
    </ul>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>

