<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">FunkoBase</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="funkos" class="nav-link">Funkos</a>
      </li>
      <li class="nav-item">
        <a routerLink="funkos/add" class="nav-link">Add</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="auth" class="nav-link">Sign In</a>
      </li>
    </ul>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>