<div>
    <div class="submit-form">
        <div *ngIf="!submitted">
            <div class="form-group">
                <label for="name">Funko name</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="funko.name" name="name" />
            </div>

            <div class="form-group">
                <label for="number">Number</label>
                <input type="number" class="form-control" id="number" required [(ngModel)]="funko.number" name="number" />
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input class="form-control" id="description" [(ngModel)]="funko.description" name="description" />
            </div>

            <button (click)="saveFunko()" class="btn btn-success">Submit</button>
        </div>

        <div *ngIf="submitted">
            <h4>Funko was submitted successfully!</h4>
            <button class="btn btn-success" (click)="newFunko()">Add</button>
        </div>
    </div>
</div>