<div>
    <div *ngIf="currentFunko.id" class="edit-form">
        <h4>Funko</h4>
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="currentFunko.name" name="name" />
            </div>
            <div class="form-group">
                <label for="number">Number</label>
                <input type="number" class="form-control" id="number" required [(ngModel)]="currentFunko.number" name="number" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" [(ngModel)]="currentFunko.description"
                    name="description" />
            </div>
        </form>
        <button class="badge badge-danger mr-2" (click)="deleteFunko()">
            Delete
        </button>

        <button type="submit" class="badge badge-success mb-2" (click)="updateFunko()">
            Update
        </button>
        <p>{{ message }}</p>
    </div>

    <div *ngIf="!currentFunko.id">
        <br />
        <p>Cannot access this Funko...</p>
    </div>
</div>