.form {
  max-width: 400px;
  margin: auto;
}

.ng-valid:not(form), .ng-valid.required  {
  border-left: 5px solid #42A948!important; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442!important; /* red */
}

select.series {
  display: block;
  width: 100%;
  height: calc(1.5em + 1.5rem);
  padding: .75rem 1.5rem;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #55595c;
  background-color: #f7f7f9;
  background-clip: padding-box;
  border: 0 solid #ced4da;
  border-radius: 0;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

select.series:focus {
  color: #55595c;
  background-color: #f7f7f9;
  border-color: #5a5a5a;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(26,26,26,.25);
}