<h1>Edit serie.</h1>
<div>
    <div *ngIf="currentSerie.id" class="edit-form">
        <h4>Serie</h4>
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="currentSerie.name" name="name" />
            </div>
        </form>
        <button class="btn btn-danger mr-2" (click)="deleteSerie()">
            Delete
        </button>

        <button type="submit" class="btn btn-success mr-2" (click)="updateSerie()">
            Update
        </button>
        <p>{{ message }}</p>
    </div>
</div>